<h1>About Me</h1>
<p>
  I currently work at Microverse, a remote software development school, as a technical support engineer, where I conduct code reviews for aspiring software developers and help them resolve technical issues they face in their learning journey. Prior to this role, I enrolled in the school’s full-time program where I spent 2000+ hours mastering algorithms & data structures, and full-stack web development. I was able to build over 30 projects collaboratively with various colleagues from different parts of the world remotely.
</p>
  
<p>
  In my free time, I love to play chess, use computational power to solve problems (lately, I'm into Project Euler), and spend time with my amazing family.
</p>
