<main role="main" class="inner cover">
  <h1 class="cover-heading">Hi!</h1>
  <p class="lead">
    I'm Treasure. I'm a detail-oriented, big picture thinker with a passion for web development. After acquiring my Bachelor's degree in Computer Engineering, I started my professional journey as a Technical Support Specialist, focusing on helping people adopt tech solutions and leverage technology to improve productivity in the workplace. I appreciated how through programming, I could have the ability to create new solutions to various problems across a wide range of industries. Now, I am a Full Stack Engineer, specializing in building Ruby on Rails and React/Redux web applications.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
